{% extends "base.html" %} {% block body %}
<h1>Upload</h1>
<form action="/" method="POST" enctype="multipart/form-data">
  {% csrf_token %} 
  	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				{% if error != 'This field is required.' %}
					<p> {{ error }} </p>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endif %}
  <p>{{form.file}}</p>
  <p>Password: {{form.password}} (optional)</p>
  <p>Expires in: {{form.max_downloads}} or {{form.expire_date}}</p>
  <p><input type="submit" value="Upload" /></p>
</form>
{% endblock %}
